.dart_tool/
.packages
build/
android/local.properties
android/key.properties
*.jks
*.keystore
config/firebase.dev.json
config/firebase.prod.json

.idea/
*.iml
android/.gradle/

functions/node_modules/
functions/.env*
functions/.secret.local
.firebase/
